// Цвета
$primary-color: #2563eb;
$text-primary: #FFFFFF;
$text-hover: #C2F23C;
$background-color: #282828;
$container-width: 1440px;
$text-dark: #000000;
// Брейкпоинты
$breakpoint-desktop: 1440px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 375px;


