@use 'variables' as v;
@use 'fonts';
@import 'normalize';

:root {
  font-size: 62.5%;
}


body {
  font-family: 'Roboto', -apple-system, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  background-color: v.$background-color;
}
