@use '@/styles/variables' as v;

.route {
  &__container {
    max-width: v.$container-width;
    margin: 0 auto;
    padding: 0 clamp(10px, 2.5vw, 20px);
    margin-top: clamp(40px, 8vw, 100px);
    padding: 0 40px;
    @media (max-width: 768px) {
      padding: 0 15px;
    }

    @media (max-width: 375.99px) {
      padding: 0 10px;
    }
  }


  &__header {
    text-align: center;
    margin-bottom: clamp(20px, 6vw, 50px);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-size: clamp(2.8rem, 5.5vw, 4.2rem);
    font-weight: 500;
    line-height: 95%;
    color: v.$text-primary;
    margin-bottom: clamp(10px, 2.5vw, 20px);
    position: relative;
    display: inline-block;
  }

  &__intro {
    font-size: clamp(2.2rem, 3.5vw, 3rem);
    line-height: 100%;
    font-weight: 500;
    color: v.$text-primary;

    @media (max-width: 768.99px) {
      br {
        display: none;
      }
    }
  }

  &__imageCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(15px, 2.5vw, 30px);
    margin-bottom: clamp(30px, 6vw, 60px);

    @media (max-width: 768px) {
      gap: 20px;
      margin-bottom: 40px;
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
      gap: 15px;
      margin-bottom: 30px;
    }
  }

  &__imageCard {
    border-radius: 16px;
    border: clamp(2px, 0.3vw, 4px) solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(15px, 1.8vw, 25px);
    cursor: pointer;
    transition: border-color 0.3s ease;

    &--active {
      border: clamp(2px, 0.3vw, 4px) solid #C2F23C;
    }
  }

  &__image {
    max-width: min(300px, 100%);
    height: auto;
    display: block;
  }

  &__imageCaption {
    padding: clamp(8px, 1.2vw, 15px);
    text-align: center;
    font-weight: 500;
    color: v.$text-primary;
    font-size: clamp(2.2rem, 3vw, 3rem);
    margin: 0;
  }

  &__subjects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(15px, 2vw, 25px);
    opacity: 1;
    transition: opacity 0.3s ease;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @media (max-width: 375.99px) {
      grid-template-columns: 1fr;
      gap: 15px;
    }

    &--fadeOut {
      opacity: 0;
    }

    &--fadeIn {
      opacity: 1;
    }
  }

  &__subject {
    background: white;
    padding: clamp(15px, 1.8vw, 25px);
    border-radius: 16px;
  }

  &__subjectTitle {
    color: v.$text-dark;
    margin-top: 0;
    margin-bottom: clamp(8px, 1vw, 10px);
    font-size: clamp(2rem, 2.5vw, 2.4rem);
    font-weight: 400;
    line-height: 120%;
  }

  &__subjectDesc {
    color: v.$text-dark;
    margin: 0;
    font-size: clamp(1.8rem, 2vw, 2rem);
    font-weight: 400;
    line-height: 100%;
  }
}